<app-nav></app-nav>
<div class="text-center font-extrabold text-4xl text-red-700 animate-bounce">
  hardcoded rani oie waa ka
</div>
<div class="py-4 container mx-auto md:px-0 px-5">
  <div><h1 class="text-4xl font-bold mt-7 mb-10">Account</h1></div>
  <div class="grid grid-cols-5">
    <div class="col-span-3">
      <div class="flex m-4 text-center justify-center">
        <span class="text-lg font-semibold pb-4">Order History</span>
      </div>
      <ul class="pl-5 pr-5 border-solid border-black border-x-2 border-b-2 p-2">
        <li class="flex justify-between p-2 font-extrabold">
          <span>Order ID</span>
          <span>Total</span>
          <span>Status</span>
        </li>
        <li class="flex justify-between p-2 border-t-2 border-black">
          <span class="hover:text-red-500"><a href="">Order #6969</a></span>
          <span>Total: P 1,024</span
          ><span class="text-green-400">Delivered</span>
        </li>

        <li class="flex justify-between p-2 border-t-2 border-black">
          <span class="hover:text-red-500"><a href="">Order #6970</a></span>
          <span>Total: P 800</span><span class="text-red-400">Pending</span>
        </li>
      </ul>
    </div>
    <div class="col-span-2">
      <div class="flex m-4">
        <span class="text-xl font-semibold pb-4">Account Details</span>
      </div>
      <ul class="pl-5 pr-5 space-y-4 text-sm">
        <li>
          <span>JohnLord Bongo</span>
        </li>

        <li>
          <span>Johnlordbongo6060ATgmail,com</span>
        </li>
        <li>
          <span>Eskina Japan, Asia Pacific, 6015</span>
        </li>
        <li>
          <a href="" class="hover:text-red-500 hover:font-bold">Edit Details</a>
        </li>
      </ul>
    </div>
  </div>
</div>
